* {
  scroll-behavior: smooth;
  touch-action: manipulation;
  letter-spacing: 0.1rem;
}

:root {
  --app_light_blue: #d5e7f2;
  --app_dark_blue: #032ca6;
  --app_grey: #95acbf;
  --app_font: "Orbitron", sans-serif;
  --box_size: 20rem;
  --box_radius: 1rem;
  /* --box_shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23); */
  --box_shadow: none;
}

body {
  margin: 0;
}

button {
  font-size: 1rem;
  padding: 0;
  cursor: pointer;
  user-select: none;
}

.content {
  display: none;
  flex-direction: column;
  align-items: center;
  margin: 1rem 1rem 7rem 1rem;
}

@keyframes scaleIn {
  from {
    transform: scale(99%);
  }
  to {
    transform: scale(100%);
  }
}

.angle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--app_light_blue);
  box-shadow: var(--box_shadow);
  width: var(--box_size);
  height: var(--box_size);
  border-radius: var(--box_radius);
  justify-content: flex-start;
  animation: scaleIn 0.3s;
}

.angle_title {
  color: var(--app_dark_blue);
  font-family: var(--app_font);
  position: absolute;
  align-self: flex-start;
  margin: 1rem 0 0 1rem;
  font-weight: bold;
}

.angle_disp {
  font-size: 8rem;
  width: var(--box_size);
  text-align: center;
  border: none;
  pointer-events: none;
  background-color: var(--app_light_blue);
  font-family: var(--app_font);
  color: var(--app_dark_blue);
  margin: auto;
  padding: 0;
  border-radius: var(--box_radius);
}

.slider {
  appearance: none;
  width: var(--box_size);
  height: 2rem;
  border-radius: 3rem;
  background: var(--app_light_blue);
  outline: none;
  opacity: 1;
  margin: 3rem 0 0 0;
}

.slider::-webkit-slider-thumb {
  appearance: none;
  width: 2.75rem;
  height: 2.75rem;
  border-radius: 3rem;
  background: var(--app_dark_blue);
  cursor: pointer;
}

.control_buttons {
  display: flex;
  margin: 2rem 0 0 0;
  justify-content: space-around;
  width: var(--box_size);
}

.control_button {
  background-color: var(--app_dark_blue);
  width: 8rem;
  height: 5rem;
  font-family: var(--app_font);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--box_radius);
  border: none;
  color: white;
  font-weight: bold;
}

.control_button_label {
  text-align: center;
}

.setting {
  display: flex;
  background-color: var(--app_light_blue);
  width: var(--box_size);
  height: 4rem;
  border-radius: var(--box_radius);
  align-items: center;
  animation: scaleIn 0.3s;
  margin: 0 0 1rem 0;
}

.setting.theme {
  cursor: pointer;
}

.setting_label {
  font-family: var(--app_font);
  margin: 0 0 0 1rem;
  color: var(--app_dark_blue);
}

.toggle_holder {
  background-color: var(--app_grey);
  width: 4rem;
  height: 2rem;
  margin: 0 1rem 0 auto;
  border-radius: 3rem;
  display: flex;
  justify-content: start;
}

.toggle_circle {
  background-color: white;
  width: 1.5rem;
  height: 1.5rem;
  margin: 0.25rem;
  border-radius: 3rem;
  border: none;
}

.version_info {
  font-family: var(--app_font);
  color: var(--app_dark_blue);
  text-align: end;
  margin: auto 1rem auto auto;
}

.optimal_angle {
  background-color: var(--app_light_blue);
  display: flex;
  border-radius: var(--box_radius);
  width: var(--box_size);
  height: var(--box_size);
  box-shadow: var(--box_shadow);
  flex-direction: column;
  box-shadow: var(--box_shadow);
  animation: scaleIn 0.3s;
  /* margin: 1rem 0 0 0; */
}

.optimal_angle_result_label {
  color: var(--app_dark_blue);
  font-family: var(--app_font);
  font-weight: bold;
  margin: 1rem 0 0 1rem;
  position: absolute;
}

.optimal_angle_result {
  font-size: 8rem;
  color: var(--app_dark_blue);
  font-family: var(--app_font);
  margin: auto;
  align-self: center;
  display: flex;
}

.optimal_angle_button {
  background-color: var(--app_dark_blue);
  color: white;
  width: var(--box_size);
  height: 4rem;
  font-family: var(--app_font);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--box_radius);
  margin: 3rem 0 1rem 0;
  border: none;
  font-weight: bold;
  letter-spacing: 0.2rem;
}

.update {
  width: 1.5rem;
  margin: 0 0 0 1rem;
  fill: white;
  transition: transform 1.2s;
}

.update.rotated {
  transform: rotate(360deg);
}

.show_calculation_button {
  background-color: var(--app_dark_blue);
  color: white;
  width: var(--box_size);
  height: 4rem;
  font-family: var(--app_font);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--box_radius) var(--box_radius) 0 0;
  border: none;
  font-weight: bold;
  letter-spacing: 0.1rem;
}

.show_calculation {
  display: none;
  flex-direction: column;
  background-color: var(--app_light_blue);
  width: var(--box_size);
  border-radius: 0 0 var(--box_radius) var(--box_radius);
  margin: 0 0 7rem 0;
}

.show_calculation_all_info {
  margin: 0 1rem 1rem 1rem;
}

.calculation_info {
  color: var(--app_dark_blue);
  font-family: var(--app_font);
  margin: 1rem 0 0 0;
}

.calculation_info:first-child {
  margin: 0;
}

.calculation_info_user {
  color: red;
  font-family: var(--app_font);
  font-weight: bold;
  margin: 1rem 0 0 0;
}

.angle_source {
  color: blue;
  font-family: var(--app_font);
  padding: 1rem 0 1rem 1rem;
  display: flex;
  text-decoration: none;
  font-weight: bold;
  user-select: none;
}

.open_tab {
  width: 1rem;
  margin: 0 0 0 0.75rem;
  fill: blue;
}

.navbar {
  background-color: white;
  display: flex;
  justify-content: space-around;
  position: fixed;
  bottom: 0;
  width: 100vw;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.navbar_icons {
  padding: 1rem;
  /* width: 6rem; */
  cursor: pointer;
  user-select: none;
  flex: 1;
}

.navbar_icon {
  width: 1.5rem;
  height: 1.5rem;
  display: block;
  margin: auto;
}

.navbar_icon_label {
  font-family: var(--app_font);
  margin: 0.5rem 0 0 0;
  text-align: center;
}

/* .navbar {
  top: 0;
  display: flex;
} */

@media screen and (max-height: 400px) {
  .angle_disp {
    font-size: 3rem;
    height: 10rem;
    /* margin: auto; */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .optimal_angle_result {
    font-size: 3rem;
    height: 10rem;
    /* margin: auto; */
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (min-width: 600px) {
  /* For tablets: */
  .content {
    margin: 7rem 0 12rem 0;
    justify-content: center;
    width: 100vw;
    height: 100vh;
  }
  /* .content.charging {
    margin: 0 0 7rem 0;
  } */
}

@media screen and (min-width: 1024px) {
  /* For desktop: */
  .content.smart {
    flex-direction: row;
  }

  .content.charging {
    flex-direction: row;
  }

  .all_input {
    height: var(--box_size);
    width: var(--box_size);
    margin: 0 0 0 5rem;
    display: flex;
    flex-direction: column;
  }

  .all_charging_buttons {
    width: var(--box_size);
    margin: 0 0 0 5rem;
    display: flex;
    flex-direction: column;
  }

  .slider {
    margin: 5rem 0 0 0;
  }
  .control_buttons {
    margin: 3rem 0 0 0;
  }

  .control_button {
    height: 7rem;
  }

  .optimal_angle_button {
    height: 7rem;
    margin: 0;
  }

  .show_calculation_button {
    height: 5rem;
    margin: 3rem 0 0 0;
  }
}
